<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Parametro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<!--importo navbar-->
<div th:replace="~{navbar/navbar :: navbar}"></div>

<div class="container mt-2">
    <div class="border p-3 border-dark-subtle">
        <!--Errore CSV-->
        <div th:if="${successMessage}" class="alert alert-success d-flex justify-content-between mt-2 col-4 mx-auto">
            <span th:text="${successMessage}">Salvataggio Eseguito Correttamente</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger d-flex justify-content-between mt-2 col-4 mx-auto">
            <span th:text="${errorMessage}">Errore</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="row">
            <div class="d-flex justify-content-between">
                <div>
                    <h3 class="ms-3">Parametri</h3>
                </div>
                <!--Ricerca-->
                <div class="col-3">
                    <form>
                        <div class="input-group mt-2">
                            <input type="text" class="form-control" placeholder="Cerca Parametro" name="parametro"
                                   aria-label="Username" aria-describedby="searchParametro">
                            <button class="btn btn-outline-secondary btn-sm" type=submit id="searchParametro">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-search"
                                     viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!--Contenuto-->
        <div class="container mt-3">
            <div>
                <form method="post" th:action="@{/parametro/aggiornaParametro}" th:object="${parametriForm}">
                    <!-- Messaggio lista vuota -->
                    <div th:if="${parametroList.isEmpty}" class="ms-3 text-secondary text-center">
                        Nessun Parametro Presente
                    </div>

                    <!--Salvataggio/Annulla/Aggiungi-->
                    <div class="row">
                        <div class="col-3 col-10 mx-auto">
                            <div class="d-flex justify-content-between mt-2 mb-2">
                                <div>
                                    <button type="submit" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-floppy" viewBox="0 0 16 16">
                                            <path d="M11 2H9v3h2z"/>
                                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                        </svg>&nbsp;Salva</button>
                                    <a class="btn btn-secondary btn-sm" href="/parametro">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                        </svg>&nbsp;Annulla
                                    </a>
                                </div>

                                <div>
                                    <a href="/parametro/aggiungiParamentro" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg>&nbsp;Aggiungi
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Intestazione -->
                    <div class="row col-10 mx-auto border-bottom border-dark-subtle py-2">
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <span class="fw-bold text-secondary">Valore</span>
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <span class="fw-bold text-secondary">Codice</span>
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <span class="fw-bold text-secondary">Descrizione</span>
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <span class="fw-bold text-secondary">Attiva</span>
                        </div>
                    </div>

                    <!-- Lista Parametri -->
                    <div class="col-10 mx-auto">
                        <div class="border rounded p-2 border-dark-subtle mt-2"
                             th:each="parametro, iterStat : ${parametroList}">
                            <a th:href="@{/parametro/editParametro/{idParametro}(idParametro=${parametro.idParametro})}"
                               class="text-decoration-none text-dark">
                                <div class="row align-items-center py-1">
                                    <!-- Stato (pallino) -->
                                    <div class="col-1 d-flex justify-content-center">
                                    <span th:classappend="${parametro.valoreParametro} ? 'bg-success' : 'bg-danger'"
                                          style="display:inline-block; width:15px; height:15px; border-radius:50%;"></span>
                                    </div>

                                    <!-- Codice -->
                                    <div class="col-3">
                                        <span class="fw-bold" th:text="${parametro.codiceValore}">Codice_Parametro</span>
                                    </div>

                                    <!-- Descrizione -->
                                    <div class="col-6">
                                        <span class="fw-bold" th:text="${parametro.descrizioneParamentro}"
                                              th:title="${parametro.descrizioneParamentro}" >
                                            Descrizione parametro
                                        </span>
                                    </div>

                                    <!-- Switch -->
                                    <div class="col-2 d-flex justify-content-center">
                                        <div class="form-check form-switch">
                                            <div class="col-2 d-flex justify-content-center">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           th:field="*{parametri[__${iterStat.index}__].valore}"
                                                           value="true"/>
                                                    <!--Per inviare l'id-->
                                                    <input type="hidden"
                                                           th:field="*{parametri[__${iterStat.index}__].idParam}"
                                                           th:value="${parametro.idParametro}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>