<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>VideoGames</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<!--importo navbar-->
<div th:replace="~{navbar/navbar :: navbar}"></div>
<div class="container">
  <div class="row">
    <div>
      <h5>Lista Giochi Presenti</h5>
      <hr>

      <div th:if="${listGiochi.isEmpty}">
        <div class="alert alert-warning text-center" role="alert">
          Nessun Gioco presente, aggiungili!!
        </div>
      </div>

      <!--Lista giochi-->
      <div th:unless="${listGiochi.isEmpty}">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div th:each="gioco : ${listGiochi}">
                <ul class="list-group">
                  <li class="list-group-item" th:text="${gioco.titolo}">Titolo del gioco</li>
                </ul>
              </div>
            </div>

            <!-- Aggiungi codice -->
            <div class="col-4">
              <div>
                <h6>Aggiungi Codice Promozionale</h6>

                <form method="post" th:object="${formAddCodicePromozionale}" th:action="@{/gioco/addCodicePromozionale}"
                      enctype="multipart/form-data">
                  <label class="mt-2">Seleziona il gioco <span class="text-danger">*</span></label>
                  <select class="form-select mt-2" aria-label="Default select example" th:field="*{gioco}">
                    <option selected disabled th:value="0">Seleziona gioco</option>
                    <option th:each="gioco: ${listGiochi}"
                            th:value=${gioco.idGioco}
                            th:text="${gioco.titolo}">Prova</option>
                  </select>

                  <label class="mt-4">Inserisci Codice Sconto <span class="text-danger">*</span></label>
                  <input type="text" id="codicePromozionale" class="form-control" maxlength="30" th:field="*{codicePromozionale}">
                  <div id="passwordHelpBlock" class="form-text">
                    Il codice promozionale è univoco, massimo di 30 caratteri
                  </div>

                  <label class="mt-4">Inserisci Valore Codice Sconto <span class="text-danger">*</span></label>
                  <select class="form-select mt-2" aria-label="Default select example" th:field="*{valoreCodicePromozionale}">
                    <option selected disabled th:value="0">Valore Codice Sconto</option>
                    <option th:value="20">20€</option>
                    <option th:value="50">50€</option>
                    <option th:value="100">100€</option>
                  </select>

                  <div class="mt-4 text-end">
                    <button type="submit" class="btn btn-success btn-sm">Aggiungi Sconto</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>